extends layout

block content
    p Votre demande de réservation pour l'adresse #{adresse} en Corse a été refusée
    p Faites une nouvelle réservation :
    a(href=`${url}/logements`) Voir les annonces de Cosycorse