doctype html
style
  include styles.css
html
  head
    link(href='https://fonts.googleapis.com/css2?family=Oswald&family=Calibri:wght@400;700&display=swap')
  body
    block header
      #header
        include header.pug

    #content
      block content

